In [19]:
import pandas as pd
import numpy as np

In [20]:
# Importamos la data de las plataformas presentadas en la Datasets y agregamos la columna Id_Plataform para identificar 
# cada plataforma
data1 = pd.read_csv("./Datasets/amazon_prime_titles-score.csv",encoding="utf-8")
data1.insert(loc=1, column="id_plataform", value='a')

data2 = pd.read_csv("./Datasets/disney_plus_titles-score.csv",encoding="utf-8")
data2.insert(loc=1, column="id_plataform", value='d')

data3 = pd.read_csv("./Datasets/hulu_titles-score (2).csv",encoding="utf-8")
data3.insert(loc=1, column="id_plataform", value='h')

data4 = pd.read_csv("./Datasets/netflix_titles-score.csv",encoding="utf-8")
data4.insert(loc=1, column="id_plataform", value='n')

In [21]:
# Unimos la data en una sola tabla
df=pd.concat([data1,data2,data3,data4],ignore_index=True)
df.head(2)

,show_id,id_plataform,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,a,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,a,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37

In [22]:
# Generamos la columna "id"
id=df["id_plataform"]+df["show_id"]
id.head(2)

0    as1
1    as2
dtype: object

In [23]:
# Agregamos el campo "id" al dataframe
df.insert(2,"id",id.values)
df.head(5)

,show_id,id_plataform,id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,a,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,a,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,a,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,a,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,a,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   id_plataform  22998 non-null  object
 2   id            22998 non-null  object
 3   type          22998 non-null  object
 4   title         22998 non-null  object
 5   director      14739 non-null  object
 6   cast          17677 non-null  object
 7   country       11499 non-null  object
 8   date_added    13444 non-null  object
 9   release_year  22998 non-null  int64
 10  rating        22134 non-null  object
 11  duration      22516 non-null  object
 12  listed_in     22998 non-null  object
 13  description   22994 non-null  object
 14  score         22998 non-null  int64
dtypes: int64(2), object(13)
memory usage: 2.6+ MB

In [25]:
# Eliminamos los campos que no seran de utilidad para las consignas solicitadas
df.drop(columns=["director","cast","country","description"], axis = 1, inplace=True)

In [26]:
# Campos de texto a min√∫sculas
df['type']=df['type'].str.lower()
df['title']=df['title'].str.lower()
df['listed_in']=df['listed_in'].str.lower()

In [27]:
# Cambiamos el formato del campo "date_added" a AAAA-mm-dd
df['date_added'] = pd.to_datetime(df['date_added'])

In [29]:
# Comprobamos el cambio de formato para date_added
df.head()

,show_id,id_plataform,id,type,title,date_added,release_year,rating,duration,listed_in,score
0,s1,a,as1,movie,the grand seduction,2021-03-30,2014,NaN,113 min,"comedy, drama",99
1,s2,a,as2,movie,take care good night,2021-03-30,2018,13+,110 min,"drama, international",37
2,s3,a,as3,movie,secrets of deception,2021-03-30,2017,NaN,74 min,"action, drama, suspense",20
3,s4,a,as4,movie,pink: staying true,2021-03-30,2014,NaN,69 min,documentary,27
4,s5,a,as5,movie,monster maker,2021-03-30,1989,NaN,45 min,"drama, fantasy",75

In [30]:
# Reemplazamos los valores vacios de rating por "G"
df['rating']=df['rating'].fillna("g")

In [31]:
# Buscamos duplicados en el campo "title"
df['title'][df['title'].duplicated(keep=False)]

28          yu-gi-oh! zexal
29          yu-gi-oh! arc-v
30           yu-gi-oh! 5d's
61               wwii in hd
90                     wind
                ...
22945                wolves
22948    world trade center
22956                    xx
22982           young adult
22986       yu-gi-oh! arc-v
Name: title, Length: 1852, dtype: object

In [32]:
# Verificamos algunos duplicados
df1=df['title']=='young adult'
df[df1]

,show_id,id_plataform,id,type,title,date_added,release_year,rating,duration,listed_in,score
11792,s675,h,hs675,movie,young adult,2021-06-01,2011,R,94 min,"comedy, drama, romance",60
22982,s8792,n,ns8792,movie,young adult,2019-11-20,2011,R,94 min,"comedies, dramas, independent movies",83

In [33]:
# Generamos una nueva tabla "id_title" para hacer √∫nicos los t√≠tulos por tipo y a√±o de estreno
df['id_title']=df['release_year'].apply(str)+"-"+df['title']+"-"+df['type']

In [34]:
# Reemplazamos los valores nan
df.replace(np.nan,"",inplace=True)

In [35]:
# Contabilizamos los datos vacios
df[df==""].count()

show_id           0
id_plataform      0
id                0
type              0
title             0
date_added        0
release_year      0
rating            0
duration        482
listed_in         0
score             0
id_title          0
dtype: int64

In [36]:
df.head()

,show_id,id_plataform,id,type,title,date_added,release_year,rating,duration,listed_in,score,id_title
0,s1,a,as1,movie,the grand seduction,2021-03-30,2014,g,113 min,"comedy, drama",99,2014-the grand seduction-movie
1,s2,a,as2,movie,take care good night,2021-03-30,2018,13+,110 min,"drama, international",37,2018-take care good night-movie
2,s3,a,as3,movie,secrets of deception,2021-03-30,2017,g,74 min,"action, drama, suspense",20,2017-secrets of deception-movie
3,s4,a,as4,movie,pink: staying true,2021-03-30,2014,g,69 min,documentary,27,2014-pink: staying true-movie
4,s5,a,as5,movie,monster maker,2021-03-30,1989,g,45 min,"drama, fantasy",75,1989-monster maker-movie

In [37]:
# Reemplazamos los datos vacios en duration por algun duplicado con el mismo "id_title"
for i in df[df["duration"]==""].index: #df[df["duration"]==""].index nos da una lista con indices de vacio para la columna duration
    for j in df[df["id_title"].duplicated(False)].index:#df[df["id_title"].duplicated(False)].index nos da una lista con indices duplicados sin excluir los primeros encontrados.
        if i!=j and  df.loc[j,"duration"]!="" and df.loc[i,"id_title"]==df.loc[j,"id_title"]:
            df.loc[i,"duration"]=df.loc[j,"duration"]
            break

In [38]:
# Contabilizamos los datos vacios y verificamos que se pudo disminuir los datos vacios de 482 a 451
df[df==""].count()

show_id           0
id_plataform      0
id                0
type              0
title             0
date_added        0
release_year      0
rating            0
duration        451
listed_in         0
score             0
id_title          0
dtype: int64

In [39]:
# Separamos el campo "duration" en "duration_int" y "duration_type"
df[['duration_int','duration_type']]=df.duration.str.split(' ',expand=True)

In [40]:
# Comprobamos la separaci√≥n del campo "duration"
df.head(5)

,show_id,id_plataform,id,type,title,date_added,release_year,rating,duration,listed_in,score,id_title,duration_int,duration_type
0,s1,a,as1,movie,the grand seduction,2021-03-30,2014,g,113 min,"comedy, drama",99,2014-the grand seduction-movie,113,min
1,s2,a,as2,movie,take care good night,2021-03-30,2018,13+,110 min,"drama, international",37,2018-take care good night-movie,110,min
2,s3,a,as3,movie,secrets of deception,2021-03-30,2017,g,74 min,"action, drama, suspense",20,2017-secrets of deception-movie,74,min
3,s4,a,as4,movie,pink: staying true,2021-03-30,2014,g,69 min,documentary,27,2014-pink: staying true-movie,69,min
4,s5,a,as5,movie,monster maker,2021-03-30,1989,g,45 min,"drama, fantasy",75,1989-monster maker-movie,45,min

In [41]:
# Generamos la tabla dftitle
dftitle=df.loc[:,("id_plataform","type","title","release_year","rating","duration","score")]
dftitle.drop_duplicates(inplace=True)
dftitle.reset_index(inplace=True,drop=True)
dftitle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_plataform  22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   release_year  22998 non-null  int64
 4   rating        22998 non-null  object
 5   duration      22998 non-null  object
 6   score         22998 non-null  int64
dtypes: int64(2), object(5)
memory usage: 1.2+ MB

In [42]:
# Creamos los archivos csv de la data 
dftitle.to_csv("Tablas/dftitle.csv")